# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp

# Django
db.sqlite3
*.log

# Virtual environments
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Vagrant
.vagrant/

# Static/media (if generated)
staticfiles/
media/
